<div class="w-full py-6">
  <div class="overflow-hidden  group ">
    <a href="{{ product.url }}">
      <div class="relative ">
        {% if product.featured_image %}
          <div class="overflow-hidden ">
            <img
              class="w-full z-40 h-full object-cover"
              src="{{ product.featured_image | img_url: 'large' }}"
              alt="{{ product.featured_image.alt }}">
          </div>
          {% if product.images.size > 1 %}
            <div class="transition duration-500 ease-in-out transform absolute top-0 w-full h-full opacity-0 md:group-hover:opacity-100 ">
              <img
                class="w-full h-full object-cover"
                src="{{ product.images.last |  img_url: 'large'}}"
                alt="{{ product.images.last.alt }}">
              <button class="" ;></button>
            </div>
          {% endif %}


        {% else %}
          {{ 'product-1' | placeholder_svg_tag: "w-full object-cover bg-gray-100" }}

        {% endif %}
      </div>

    </a>
    <div class="flex flex-col items-center justify-center">
      <a href="{{ product.url }}" class="text-center py-3 text-lg text-gray-600 font-bold block">{{ product.title }}</a>
      <p class=" font-mono uppercase text-sm text-gray-400 font-medium ">
        {{ product.price | money }}
      </p>
    </div>

  </div>

</div>