<div class="relative">

  {% if collection.featured_image != blank %}
    <img
      class="w-full h-96 object-cover "
      alt="{{ collection.featured_image.alt }}"
      src="{{ collection.featured_image |  img_url: 'master'    }}">

  {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag: "w-full h-96 object-cover " }}

  {% endif %}

  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <h1 class="text-5xl text-gray-800 ">{{ collection.title }}</h1>
  </div>

</div>

<div class="container mx-auto grid grid-cols-1 lg:grid-cols-[250px_minmax(250px,_1fr)] gap-10 py-12 md:py-20 lg:py-32 ">
  <div></div>
  <div>
    <div class="flex justify-center md:justify-between items-center mt-6">
      <span class="block text-center md:text-start">{{ collection.products_count }} products</span>
      <form class="hidden md:flex items-center">
        <label for="filters" class="block text-sm font-medium text-gray-400">Sort By:</label>
        <select id="filters" class="">
          <option selected>Light to Dark</option>
          <option value="Dark">Dark to Light</option>
          <option value="Trending">Trending</option>
          <option value="new">What's new</option>
        </select>
      </form>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
      {% for product in collection.products %}
        {% render 'product-card-hongo'
          , product: product %}
      {% else %}
        <p>There are no products inside of this collection</p>
      {% endfor %}
    </div>
  </div>
</div>